
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  color: #333;
  text-align: center;
}

.btn{
  width: 150px;
  padding: 8px 0;
  background-color: #4579ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}